*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.col-4{
    width: 33.3%;
    padding: 0 15px;

}

.header-block{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;

}
.header-logo{
    display: flex;
    align-items: center;
}
.header-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-right: 15px;
    color: #B08EAD;
    text-decoration: none;

}
/*hero*/
.hero{
    padding: 70px;
    background: #B08EAD;
}
.hero-item{
    position: relative;
}
.hero-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.hero-text{
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 15px 0;
}
.hero-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}
.hero-content{
    width: 467px;
    padding: 88px;
    background-color: #B08EAD;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(96%, -150%);
}

/*hero*/

/*slider*/

.container{
    width: 1210px;
    margin: 0 auto;


}
.slider{
    padding: 63px 0 123px;
    background:  white;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;



}
.slider-title{
    text-align: center;
    margin: -31px 0;
    color: #B99BB6;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;



}
.slider-item{
    position: relative;

}

.slider-content{
    width: 368px;
    padding: 29px;
    background-color:  #CEB3CB;
    text-align: center;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -6%);

}

.slider-subtitle{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.slider-text{
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    margin: 60px 189px;
    color: #5F4D5D;
}
.slider-link{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    bottom: 50%;
}
.slider-btn{
    padding: 16px 28px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #B99BB6;
    margin-bottom: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.6s;



}
.slider-btn:hover{
    color: white;
    background: #B08EAD;
    transition: 0.6s;
}
/*slider*/


/*frame*/
.frame{
    padding:70px;
    background: #CEB3CB;


}
.frame-item{
    position:relative;


}


.frame-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.frame-text{
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 15px 0;
}
.frame-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.frame-content {
    width: 525px;
    padding: 100px;
    background-color: #B08EAD;
    position: absolute;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    transform: translate(103%, -131%);
}
.frame-item{
    position: relative;
}
.frame-play{
    width: 66px;
    height: 66px;
    background-color: cornflowerblue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(828%, -28%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*frame*/
/*detail*/
.detail{
    padding: 100px ;
    background: white;

}
.detail-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #B99BB6;
    margin-top: 60px;

}
.detail-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    margin: 20px 0;
}
.detail-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    margin-bottom: 30px;
    text-decoration: none;
}

.carer-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #B99BB6;
    margin-top: 90px;
    text-transform: uppercase;
}
.carer-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    margin: 30px 0;
}
.carer-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    text-decoration: none;
}
.carer-btn{
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    padding: 16px 28px;
    border-radius: 25px;
    border: 1px solid #B99BB6;
    margin: 30px 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.6s;

}
.carer-btn:hover{
    color: white;
    background: #B08EAD;
    transition: 0.6s;
}

.page{
    padding: 100px ;
}
.page-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #B99BB6;
    margin-top: 90px;
}
.page-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    margin: 20px 0;
}
.page-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    margin-bottom: 30px;
    text-decoration: none;
}
/*page*/
/*only*/
.only{
    padding: 70px;
    background: #CEB3CB;
}
.only-item{
    position: relative;
}
.only-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.only-text{
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
}
.only-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.only-content{
    width: 467px;
    padding: 104px;
    background-color: #B08EAD;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(54%, -122%);
}
/*only*/
/*silver*/
.silver{
    padding: 70px;

}
.silver-subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    text-align: center;


}
.silver-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #B0B0B0;
    text-decoration: none;
    text-align: center;

}
.plated-item{
    margin: 60px 0;
}
.plated-subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #5F4D5D;
}
.plated-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #B0B0B0;
}
/*plated*/
/*contact*/

.contact{
    padding: 70px;
    background: #CEB3CB;
}
.contact-form{
    width: 800px;
}
.contact-cl{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px 0;
}
.contact-bl{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.contact-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contact-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 10px 0;
}
.contact-input{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 283px;
    padding: 10px 14px;
    border: 1px solid #FFFFFF;
    outline: none;
    background: transparent;
    color: white;


}
/*placeholder:after{*/
/*    background-color: #FFFFFF;*/
/*}*/
.contact-textarea{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width:570px;
    height:122px;
    margin-bottom: 15px;
    resize: none;
    border: 1px solid #FFFFFF;
    outline: none;
    background: transparent;
    color: #FFFFFF;


}
.contact-block{
    margin-bottom: 24px ;
}
.contact-log{
    width: 220px;
    height: 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.6s;
    background: transparent;





}
/*contact*/
/*storm*/
.storm{
    padding: 70px;
}
.storm-block{
    text-align: center;
    margin-left: 142px;
}
.storm-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #B99BB6;
}
.storm-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 5px 0;
    color: #5F4D5D;
}
.storm-input{
    width: 208px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 14px -3px;
    border: 1px solid #B0B0B0;
    outline: none;
    text-align: center;

}
.storm-btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 14px -3px;
    border: 1px solid #B0B0B0;
    outline: none;
    width: 208px;
    height: 60px;
    color: #FFFFFF;
    background: #CEB3CB;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.6s;


}

/*storm*/
/*fast*/
.fast{
    padding: 80px;
    background: #D6BBD3;
}
.fast-content{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin: 40px 0;

}
.fast-item{
    position: relative;
}
.fast-play{
    width: 75px;
    height: 75px;
    background-color: #BA9FB7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(205%, -144%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*fast*/
/*flow*/

.flow{
    padding: 70px;
    background: #B08EAD;

}

.flow-block{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flow-link{
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 89px;


}
.flow-menu-2{
    display: flex;
    padding: 20px 0;
}
.flow-png{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 5px;

}









